<%= buoy_with_title :tackle, {tackle: @tackle, user: @tackle.user}, title: "foobar" %>

<div class="container px-0 md:px-16 xl:px-32 -mt-8 md:mt-0">
  <div class="md:flex">
    <div class="w-full md:w-2/3">
      <div class="square-image">
        <img src="<%= @tackle.photo.url %>" alt="" class="w-full h-full object-cover">
      </div>
    </div>
    <div class="w-full md:flex-1 py-4 px-4">
      <div>
        <div class="flex">
          <%= link_to @tackle.user do %>
          <div class="mr-2"><img src="<%= @tackle.user.current_avatar %>" alt="" class="h-12 w-12 rounded-full"></div>
          <div class="flex-1">
            <p><%= @tackle.user.name %></p>

            <p class="hidden">
              <a href="#" class="border border-blue-500 text-blue-500 rounded px-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-4 h-4 -mt-1 inline">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                </svg>
                follow
              </a>
            </p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="py-4">
        <ul>
          <% @tackle.tag_list.each do |tag| %>
          <li class="tag">
            <%= tag %>
          </li>
          <% end %>
        </ul>
      </div>
      <% if @tackle.user == current_user %>
      <div>
        <%= link_to 'この投稿を編集する', edit_tackle_path(@tackle) %>
      </div>
      <% end %>

      <%= @tackle.category&.name %>
    </div>
  </div>
  <div class="md:flex px-4 md:px-0">
    <div class="w-full md:w-2/3">
      <% if @tackle.description.present? %>
      <div class="flex mt-4 mb-6">
        <div class="mr-2"><img src="<%= @tackle.user.current_avatar %>" alt="" class="h-8 w-8 rounded-full"></div>
        <div class="flex-1">
          <div>
            <span class="font-bold text-blue-500 mr-2"><%= @tackle.user.name %></span><span class="text-gray-500 text-sm"><%= @tackle.created_at.strftime("%Y年%m月%d日") %></span>
          </div>
          <div class="bg-orange-100 rounded p-2"><%= @tackle.description %></div>
        </div>
      </div>
      <% end %>
      <% @tackle.comments.each do |comment| %>
      <div class="flex mt-4 mb-6">
        <div class="mr-2"><img src="<%= comment.user.current_avatar %>" alt="" class="h-8 w-8 rounded-full"></div>
        <div class="flex-1">
          <div>
            <span class="font-bold text-blue-500 mr-2"><%= comment.user.name %></span><span class="text-gray-500 text-sm"><%= comment.created_at.strftime("%Y年%m月%d日") %></span>
          </div>
          <div class="bg-orange-100 rounded p-2"><%= comment.body %></div>
        </div>
      </div>
      <% end %>
      <div class="mt-4">
        <%= form_with(url: tackle_comments_path(@tackle), local: true) do |f| %>
        <%= f.text_area :body, class: "w-full", placeholder: "コメントを入力してください" %>
        <%= f.submit class: "btn btn-link" %>
        <% end %>
      </div>
    </div>
    <div class="w-full md:flex-1 px-4">
    </div>
  </div>
</div>

<%= render partial: 'shared/add_tackle' %>