<div class="container md:flex">
  <div class="w-full md:w-2/3 px-2 py-4">
    <%= yield %>
  </div>

  <div class="w-full md:w-1/3 p-2">
    <ul class="flex flex-wrap">
      <a href="<%= edit_user_path(current_user) %>" class="w-1/2 md:w-full py-2">
        <li class="<%= 'active' if active.include?('user_setting') %>">ユーザー情報変更</li>
      </a>
      <a href="<%= change_password_user_path(current_user) %>" class="w-1/2 md:w-full py-2">
        <li class="<%= 'active' if active.include?('user_setting') %>">パスワードの変更</li>
      </a>
      <a href="<%= logout_path %>" class="w-1/2 md:w-full py-2">
        <li class="<%= 'active' if active.include?('user_setting') %>">ログアウト</li>
      </a>
      <a href="<%= delete_user_path(user) %>" class="w-1/2 md:w-full py-2">
        <li class="<%= 'active' if active.include?('user_setting') %>">ユーザーを削除</li>
      </a>
    </ul>
  </div>
</div>