<%= render layout: 'setting_menu', locals: {user: @user, active: 'change_password'} do %>
<%= form_with(model: @user, local: true) do |form| %>
<%= render partial: 'shared/form_error', locals: {form_object: @user} if @user.errors.any? %>

<div class="field">
  <%= form.label :password, class: 'form-label' %>
  <%= form.password_field :password, id: :user_password, class: 'input w-full mb-2' %>
</div>

<div class="field">
  <%= form.submit class: 'btn btn-link' %>
</div>
<% end %>
<% end %>