<%= render layout: 'setting_menu', locals: {user: @user, active: 'user_setting'} do %>
<%= form_with(model: @user, local: true) do |form| %>
<%= render partial: 'shared/form_error', locals: {form_object: @user} if @user.errors.any? %>

<div class="field">
  <%= form.label :name, class: 'form-label' %>
  <%= form.text_field :name, id: :user_name, class: 'form-input w-full mb-4', placeholder: 'ユーザー名' %>
</div>

<div class="field">
  <%= form.label :email, class: 'form-label' %>
  <%= form.text_field :email, id: :user_email, class: 'form-input w-full mb-4', placeholder: 'メールアドレス' %>
</div>

<div class="field">
  <%= form.label :avatar, class: 'form-label' %>
  <%= form.file_field :avatar, id: :user_avatar, class: 'form-input w-full mb-4' %>
</div>

<div class="field">
  <%= form.submit class: 'btn btn-link' %>
</div>
<% end %>
<% end %>