<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "FINZ | アングラーのタックルボックスなど、釣具や装備写真を共有するサービス" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', media: 'all' %>
</head>

<body>
  <nav class="w-full py-4 mb-8">
    <div class="relative w-full container mx-auto flex flex-wrap items-center justify-between px-4 md:px-12">
      <a href="/" class="">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 md:h-12" viewbox="0 0 302 160">
          <path fill="#59b9f9"
            d="M18 146c-3.2 10.3-5.7 15.2-7.4 14.5-.6-.4-.7-1.1-.2-2.3.3-.4.4-.6.3-.7 0 0-.3 0-.8.3-.6.4-1 .9-1.1 1.6-.2.6-.3 1-.5 1-.1 0-1.1 0-3-.5-1.2-.4-2.4-1-3.7-2.1-1.2-1-1.7-1.9-1.6-2.5l1.6-5.8 3.2-9.4a10593.8 10593.8 0 008-24.6c0-.9.3-1.5.7-2l1.2-1.6a106.8 106.8 0 016.1-18 34 34 0 002.7-8.1c0-1-.8-1.6-2.5-1.9-2.3-.5-3.9-1.1-4.7-1.9-.9-.8-1.7-2.5-2.7-5-.7-2.5-1-4-.8-4.7.3-.6 1.1-1 2.7-1 .7 0 1.7-.2 2.7-.5a62 62 0 007.4-3.3L22.4 70 20 72s.7 0 2-.3l4.9-1.5c1-.4 1.8-.9 2.3-1.5a179.7 179.7 0 009.6-29.6 22 22 0 00-5.1 2c-2.2.8-3.7 1.2-4.7 1.3-1 .2-2.2 0-3.6-.5-1-.4-2-1.1-3-2.2-1-1-1.6-2.2-2-3.7a15 15 0 01-.8-4.6c0-.8.2-1.3.5-1.7.3-.3.9-.5 1.7-.6l3-.4A89.7 89.7 0 0037 26.2c3.6-1.2 5.7-2.4 6.6-3.5.8-1.2 1.3-3.6 1.3-7.4 0-1.6.2-2.4.5-2.6.4-.2 1.6-.2 3.6 0 7.4 1.1 11.4 2.7 12 5 .3 1 .8 1.7 1.6 1.8a499 499 0 0017-2.4A299.8 299.8 0 0198 14.6a181.1 181.1 0 0017.4-2.8l1.9.1 2.4 1c2.8 1.3 3.7 2 2.8 2.3-1 .3-.7 1 .7 2 .9.5 1.4 1 1.5 1.3 0 .4-.3 1-1 1.7 0 .2-.2.3-.3.4-.8 1-1.8 1.5-3 1.9A2062.9 2062.9 0 0059.3 33l-.6 1.5-1.6 4.5-2.2 6.3-2.3 6.7a466.6 466.6 0 01-3.8 11.2l-.6 2.1c0 .3 1.2.2 3.5-.2L59 64c2.6-.5 4.1-.6 4.6-.3.6.2.9 0 .9-.6 0-.7.8-1 2.3-1 1.4 0 4.2-.3 8.4-1 4.2-.8 8.3-1.3 12.2-1.8 4-.4 6.5-.4 7.8.1l2.7.8h-1.4a25.2 25.2 0 00-5.7.7l-6 1.2c-3.9.8-5.9 1.4-6 1.8-.2.1 0 .3.7.6 1.2.2 3 0 5.3-.5a24 24 0 014.6-1c1 0 .8.4-1 1a32.8 32.8 0 01-8.5 2c-1.6 0-1.9.1-.6.4l1.6.4c1.4.4 2 .6 2 .8-1 0-1.7.4-2 1-.3.6-1 .9-2.1.9-.8 0-1.4.1-1.7.4-.4.2-.6.5-.6.7 0 .2-.2.3-.6.5-.4.2-.9.2-1.5 0-1.2-.2-1.8 0-1.6.3.1.2 0 .4-.3.6a61.9 61.9 0 01-10.3 3A166.9 166.9 0 0050 77.3L42.7 79l-2.3 6.6-4.6 11c-2.2 4.8-4.6 11-7.4 18.7-2.8 7.7-6.2 18-10.4 30.8zm57.4-82v-.8c-.2 0-.4.1-.7.4l-.7.6-.8.4a7 7 0 01-1.2.5c-2.3.7-2.7 1-1.2 1 2.6-.1 4.2-.8 4.6-2.1z" />
          <path fill="#59b9f9"
            d="M106 125.3c-.4.6-1.2 1-2.4 1.2-1.3.1-2.1-.1-2.6-.8-.2-.4-1.1-.4-2.9 0-2 .7-3.9 1-5.9.8-2-.2-3.5-.7-4.5-1.4-1.1-1-1.7-1.7-1.7-2.1 0-.3-.4-.8-1.2-1.5-.8-.5-1-1-.2-1.6.7-.5 3.7-1.4 9-2.6 3.3-.9 5.5-1.5 6.4-1.9 1-.3 1.4-.9 1.4-1.5 0-6 1.5-16.1 4.6-30.5a852.5 852.5 0 0112.6-51.8v-.1l-2.8.6a32.5 32.5 0 01-10.6.3c-.7-.3-1.5-1-2.4-1.9-1.2-1.5-1.6-2.5-1.4-3 .8-1.2 4.9-2.6 12.1-4.1 4.3-.8 6.9-1.7 7.8-2.6 1-.9 2.6-1.5 4.9-2a9 9 0 016 1.2c1 .7 2.2 1.2 3.3 1.3s3 .3 5.8.3c9-.3 13.6 0 13.6.8 0 .4-.8.6-2.4.6-1.3.1-2 .3-2 .4 0 .2.3.5.8 1 1 .6 1.2 1 .5 1a4 4 0 01-1.4 0c-1.4 0-2.1.3-2.1.7.2.2 0 .5-.5.7l-1.8.5c-7.5 1.1-11.3 2-11.5 2.2-.5.6-2.8 9.7-7.2 27.3a356.2 356.2 0 01-6.8 25.3 58.6 58.6 0 01-3 10l-2.3 7-2.2 7-1 3.3c-1 1.9-1.5 3.3-1.3 4 .2.8 1.2 1.3 3 1.6.3 0 .5 0 .6.2l.6.3 1.4.3 2.3.5-.2.2c-.4.2-.5.4-.3.5.4.4.6 1.1.6 2.2 0 1-.2 1.8-.8 2.3l.2.3c.5.6.1 1-1.2 1.2l-2.4.3a117.6 117.6 0 00-8 1l-.6 1zm15.7 18.9l-.4.4-.3-.2c-.2-.1-.4 0-.6.4-.3.4-.4.9-.5 1.5-.3 2-.8 3-1.8 3-1.3 0-1.7-2.4-1.2-7 .4-2.7 2.3-10 5.7-21.8 3.5-11.9 7-25.3 10.8-40.3 3.7-15 6-27.8 7-38.7.2-3.1.8-5.2 1.5-6.3 1-1.4 2.9-1.8 5.6-1.3 2.8.6 5.5 2 8.2 4.2l2.8 2.3L170.3 79l1.2 4a117.8 117.8 0 012.6 7.3 503.5 503.5 0 013.8 10l.7 1.4 2.3-11.4 5.2-24.4a302.5 302.5 0 0115.5-50.3c1.3-2.7 3.3-5.8 6-9.4 2.7-3.5 4.4-5 5-4.7h.6l.1-.5c.2-.5.6-.7 1.2-.8.3 0 .5 0 .6-.2l2.3 2.3-1-.8-1-.5-.6 1.3c-.7 1.6-.8 2.3-.5 2.2.2 0 .3 0 .3.2-.1 1.6-1 3.6-2.4 5.8-.5.7-.9.7-1.3 0-.3-.3-.5-.3-.5 0s0 .5.2.9c.3 1.1 0 1.8-1 1.9-1 0-1.1.2-.3.5.5.2.7.5.7.8a13 13 0 01-1.5 3 8 8 0 00-.9 1.5c-.2.6-.2 1-.1 1.5 0 .5 0 .8-.5.8-.2 0-.4.2-.6.6l-.5 1.5-.5 1.9a30.5 30.5 0 01-.8 2.5 27.5 27.5 0 00-2.6 9c.2 0 .4-.2.8-.7l2-4.7a55.3 55.3 0 015.3-11.7c.6-1.6 1.2-2.5 1.6-2.8.2-.2.3-.1.3.2.1.5 0 1.2-.6 2-.8 1.1-2.2 4.6-4.4 10.5-2.2 5.8-2.8 8.8-2 9 .5 0 .3.2-.6.7-.8.7-1 1.3-.5 1.8.5.4.3 1.4-.8 2.8-1.2 1.4-1.5 2.7-1 3.9.1.4.4.4.8.1.8-.5 1.3 0 1.5 1.5a5 5 0 01-.3 2.6c-.7 1.3-.9 2.2-.7 2.9l-3.9 16a1661 1661 0 01-4.8 20.3c0 1.4-.2 2.3-.5 2.6-.6.5-.7.8-.5 1.2a2151.7 2151.7 0 00-3 18.3c.2.4-.2 2-1 4.5-1 2.5-2.3 4-4.3 4.6-4.2 1-7 1.4-8.3 1-1.4-.3-2.5-1-3.2-2-.8-1-1.4-1.4-1.8-1.4-.5 0-2.9-5.4-7-16.3A500.9 500.9 0 01157 81l-6-18.7-2.2 8.4-3.6 14.5-4.3 18.7c-1.3 5.8-2.6 11.1-3.9 16a41.6 41.6 0 01-2.6 8c-.9 1-1.3 1.4-1.5 1 0-.3-.4 0-1 .9l-.6 1c-.8 1.7-1.5 2.4-2 2h-.6c0 .2-.2.3-.3.5l-.4.6a2 2 0 00-.2 1c-.5 1.6-.9 2.4-1.2 2.5-.3.1-.4-.4-.3-1.4l-.2-.5c-.2 0-.5.5-.8 1.1a28 28 0 01-1.8 3.3 9 9 0 00-1.3 3c0 .6-.2 1-.4 1.3zm64.8-69l-1 4.4-2 8.2c-.6 2.7-.8 4.1-.8 4.4l.3.8.3-.8c0-1.1.7-4.6 2.1-10.6l1.3-6.6-.2.1zm15.3-37.4c-.3 0-.7.6-1 1.7s-.4 2-.3 2.7l.3.5a10.3 10.3 0 001.3-4.2c0-.5 0-.7-.3-.7zM273 46.5c0-1 .7-1.4 2.2-1.2.9.1 1.2.4.8.8-.2.4 0 .5.4.5.2 0 .7-.1 1.4-.5 1.5-.5 2.5-.4 2.8.2.2.4.6.5 1.3.3.6-.2 1 0 1.3.5.4.6 1 .8 1.8.8.6 0 .5-.2-.4-.8-.8-.5-.6-.8.7-1a41 41 0 0113.1 2.2l1.8.8c.8.4 1.2.7 1.2.9l-1 .9c-1 .5-1.3 1-1 1.7.2.4.1.5-.3.5l-1.3-.3c-1.5-.3-2.5-.2-2.8.3 0 .2-.5.4-1.2.5l-2.4.2a45.3 45.3 0 01-5.3-.2h-1.3l.8 7.6-2.5.8a554 554 0 01-7.6 3 348.4 348.4 0 00-13 7.4c-7 4-11 6.6-12.1 7.8-.3.6-4.2 3.6-11.5 9.3a819 819 0 00-21.4 16.8c-6.8 5.7-10.3 9-10.3 10.1 0 .9 2 1.5 6 2 4 .4 8.5.5 13.4.3a563.7 563.7 0 0042.6-5c5.1-1.4 8-2.3 8.7-2.8a6 6 0 013.2-1c1.5-.1 2.3 0 2.3.6 0 .5-.7.7-2.2.7h-.6c-.6.1-.8.2-.7.3.8.4 1.1 1 1 1.7 0 .8-.4 1.2-1.3 1.2s-1.3.3-1.3.9c0 .3-1.3.4-4 .3-.8-.1-1.1 0-1 .1 0 .2.2.3.3.4.9.5.6 1-.8 1.6a22 22 0 01-6.7 1.1c-1.8.4-2.7.7-2.6 1.2.5.6.2.8-.8.6h-.5c-1-.3-2.7-.2-4.9.3-2.2.6-3.3 1.1-3.3 1.7 0 .4-.4.7-1.2.8l-5.8 1.4c-.3.1-.3.2 0 .4h.5c1.2 0 1.8.3 2 .6 0 .3-.3 1-1.2 1.8-1.8 1.8-9.1 3-22 3.7-6.5.3-11.8 0-15.9-1-4-1-7.4-3-10.1-5.6-2.5-2.5-4-4.6-4.7-6.2-.6-1.5-.8-3.6-.8-6.2s.3-4.4 1-5.5c.7-1 2.3-2.7 4.7-5a202 202 0 0119.3-15.3c1.8-1.4 2.7-2.2 2.7-2.6 0-.6.4-1 1.1-1 .7 0 1.9-.6 3.6-2a232 232 0 015-4c1.7-1.3 2.7-1.7 3.1-1.4.3.2.6 0 .7-.6.2-.6.5-.9 1-.9.6 0 1.5-.5 2.7-1.6 1.2-1 1.8-2 1.8-2.6 0-.7.4-1.1 1.1-1.1.6 0 1.8-.8 3.7-2.3 2-1.5 3.3-2.3 4.1-2.3.5 0 1 0 1.2-.3.3-.2.4-.5.4-.8 0-.5.3-.9 1.3-1l.8-.1c.7 0 1 0 1.2-.2 0 0 0-.3-.4-.5-.4-.5-4.7-.5-13 .1-8.2.6-15 1.4-20.2 2.4-2.8.4-4.8.6-6 .6s-2.2-.2-3.3-.6c-1.2-.7-2.4-2-3.6-3.9-1.3-1.8-1.7-3-1.2-3.4.3-.3.2-1.2-.4-3a5 5 0 010-2.2c0-.4.2-.6.4-.8l.7-.6 1-.5 1.4-.4a36.2 36.2 0 015.8-.9c.9-.2 1.7-.3 2.4-.6h1.5l-2.1 1.2-2.5 1.1 3.1-.3a341.1 341.1 0 0139.9-2.8c.8 0 1.1-.3 1-.6-.2-.3-.3-.5-.2-.6a13 13 0 002.6 1c.7.3 1.3.3 1.8.2.6 0 .8-.3.8-.6 0-.5.3-.5.7-.3l1.3 1c.4.2.6.1.6-.4 0-.2.2-.4.4-.6a2 2 0 011.1-.2h1.3l1.2.5c.4.2.6.4.7.6.6.7.9.6.9-.1zm19 5.6c.7-.2.5-.3-.5-.4-1 0-1.3 0-1.3.3.2.4.8.5 1.7.1z" />
        </svg>
      </a>
      <% unless current_user %>
      <%= link_to 'ログイン', login_path %>
      <% else %>
      <img src="<%= current_user.current_avatar %>" alt="" class="h-10 w-10 md:h-12 md:w-12 rounded-full cursor-pointer"
        onclick="window.toggleHidden('menu_box')">
      <div id="menu_box" class="hidden absolute top-0 right-0 w-full h-full px-2 z-10">
        <div class="relative">
          <button class="absolute right-0 top-0 w-10 h-10 mt-2 mr-2 text-gray-500"
            onclick="window.toggleHidden('menu_box')">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          <ul class="w-full md:max-w-md ml-auto bg-white rounded-md p-3 leading-10 shadow-2xl">
            <%= link_to current_user do %><li class="border-b">マイページ</li><% end %>
            <%= link_to new_tackle_path do %><li class="border-b">新しく投稿</li><% end %>
            <%= link_to edit_user_path(current_user) do %><li class="border-b">ユーザー設定</li><% end %>
            <%= link_to logout_path do %><li class="last:border-b-0">ログアウト</li><% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </nav>

  <% if content_for?(:page_title) %>
  <div class="bg-gray-200 -mt-8">
    <div class="container py-4 md:py-8">
      <h1 class="text-gray-900 text-xl mb-1 font-bold"><%= yield(:page_title) %></h1>
      <p class="text-gray-600 text-sm"><%= yield(:page_summary) %></p>
    </div>
  </div>
  <% end %>

  <article>
    <%= yield %>
  </article>

  <footer class="relative pt-48">
    <div class="wave">
      <svg viewBox="0 -20 700 110" width="100%" height="80" preserveAspectRatio="none">
        <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"
          fill="#d6f6ff" />
        <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#59b9f9" />
      </svg>
    </div>
    <div class="pb-20" style="
      background: rgb(33,24,187);
      background: linear-gradient(0deg, rgba(93,165,255,1) 35%, rgba(89,185,249,1) 100%);
    ">
      <div class="container">
        <div>
          <a href="/" class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 md:h-16" viewbox="0 0 302 160">
              <path fill="#ffffff"
                d="M18 146c-3.2 10.3-5.7 15.2-7.4 14.5-.6-.4-.7-1.1-.2-2.3.3-.4.4-.6.3-.7 0 0-.3 0-.8.3-.6.4-1 .9-1.1 1.6-.2.6-.3 1-.5 1-.1 0-1.1 0-3-.5-1.2-.4-2.4-1-3.7-2.1-1.2-1-1.7-1.9-1.6-2.5l1.6-5.8 3.2-9.4a10593.8 10593.8 0 008-24.6c0-.9.3-1.5.7-2l1.2-1.6a106.8 106.8 0 016.1-18 34 34 0 002.7-8.1c0-1-.8-1.6-2.5-1.9-2.3-.5-3.9-1.1-4.7-1.9-.9-.8-1.7-2.5-2.7-5-.7-2.5-1-4-.8-4.7.3-.6 1.1-1 2.7-1 .7 0 1.7-.2 2.7-.5a62 62 0 007.4-3.3L22.4 70 20 72s.7 0 2-.3l4.9-1.5c1-.4 1.8-.9 2.3-1.5a179.7 179.7 0 009.6-29.6 22 22 0 00-5.1 2c-2.2.8-3.7 1.2-4.7 1.3-1 .2-2.2 0-3.6-.5-1-.4-2-1.1-3-2.2-1-1-1.6-2.2-2-3.7a15 15 0 01-.8-4.6c0-.8.2-1.3.5-1.7.3-.3.9-.5 1.7-.6l3-.4A89.7 89.7 0 0037 26.2c3.6-1.2 5.7-2.4 6.6-3.5.8-1.2 1.3-3.6 1.3-7.4 0-1.6.2-2.4.5-2.6.4-.2 1.6-.2 3.6 0 7.4 1.1 11.4 2.7 12 5 .3 1 .8 1.7 1.6 1.8a499 499 0 0017-2.4A299.8 299.8 0 0198 14.6a181.1 181.1 0 0017.4-2.8l1.9.1 2.4 1c2.8 1.3 3.7 2 2.8 2.3-1 .3-.7 1 .7 2 .9.5 1.4 1 1.5 1.3 0 .4-.3 1-1 1.7 0 .2-.2.3-.3.4-.8 1-1.8 1.5-3 1.9A2062.9 2062.9 0 0059.3 33l-.6 1.5-1.6 4.5-2.2 6.3-2.3 6.7a466.6 466.6 0 01-3.8 11.2l-.6 2.1c0 .3 1.2.2 3.5-.2L59 64c2.6-.5 4.1-.6 4.6-.3.6.2.9 0 .9-.6 0-.7.8-1 2.3-1 1.4 0 4.2-.3 8.4-1 4.2-.8 8.3-1.3 12.2-1.8 4-.4 6.5-.4 7.8.1l2.7.8h-1.4a25.2 25.2 0 00-5.7.7l-6 1.2c-3.9.8-5.9 1.4-6 1.8-.2.1 0 .3.7.6 1.2.2 3 0 5.3-.5a24 24 0 014.6-1c1 0 .8.4-1 1a32.8 32.8 0 01-8.5 2c-1.6 0-1.9.1-.6.4l1.6.4c1.4.4 2 .6 2 .8-1 0-1.7.4-2 1-.3.6-1 .9-2.1.9-.8 0-1.4.1-1.7.4-.4.2-.6.5-.6.7 0 .2-.2.3-.6.5-.4.2-.9.2-1.5 0-1.2-.2-1.8 0-1.6.3.1.2 0 .4-.3.6a61.9 61.9 0 01-10.3 3A166.9 166.9 0 0050 77.3L42.7 79l-2.3 6.6-4.6 11c-2.2 4.8-4.6 11-7.4 18.7-2.8 7.7-6.2 18-10.4 30.8zm57.4-82v-.8c-.2 0-.4.1-.7.4l-.7.6-.8.4a7 7 0 01-1.2.5c-2.3.7-2.7 1-1.2 1 2.6-.1 4.2-.8 4.6-2.1z" />
              <path fill="#ffffff"
                d="M106 125.3c-.4.6-1.2 1-2.4 1.2-1.3.1-2.1-.1-2.6-.8-.2-.4-1.1-.4-2.9 0-2 .7-3.9 1-5.9.8-2-.2-3.5-.7-4.5-1.4-1.1-1-1.7-1.7-1.7-2.1 0-.3-.4-.8-1.2-1.5-.8-.5-1-1-.2-1.6.7-.5 3.7-1.4 9-2.6 3.3-.9 5.5-1.5 6.4-1.9 1-.3 1.4-.9 1.4-1.5 0-6 1.5-16.1 4.6-30.5a852.5 852.5 0 0112.6-51.8v-.1l-2.8.6a32.5 32.5 0 01-10.6.3c-.7-.3-1.5-1-2.4-1.9-1.2-1.5-1.6-2.5-1.4-3 .8-1.2 4.9-2.6 12.1-4.1 4.3-.8 6.9-1.7 7.8-2.6 1-.9 2.6-1.5 4.9-2a9 9 0 016 1.2c1 .7 2.2 1.2 3.3 1.3s3 .3 5.8.3c9-.3 13.6 0 13.6.8 0 .4-.8.6-2.4.6-1.3.1-2 .3-2 .4 0 .2.3.5.8 1 1 .6 1.2 1 .5 1a4 4 0 01-1.4 0c-1.4 0-2.1.3-2.1.7.2.2 0 .5-.5.7l-1.8.5c-7.5 1.1-11.3 2-11.5 2.2-.5.6-2.8 9.7-7.2 27.3a356.2 356.2 0 01-6.8 25.3 58.6 58.6 0 01-3 10l-2.3 7-2.2 7-1 3.3c-1 1.9-1.5 3.3-1.3 4 .2.8 1.2 1.3 3 1.6.3 0 .5 0 .6.2l.6.3 1.4.3 2.3.5-.2.2c-.4.2-.5.4-.3.5.4.4.6 1.1.6 2.2 0 1-.2 1.8-.8 2.3l.2.3c.5.6.1 1-1.2 1.2l-2.4.3a117.6 117.6 0 00-8 1l-.6 1zm15.7 18.9l-.4.4-.3-.2c-.2-.1-.4 0-.6.4-.3.4-.4.9-.5 1.5-.3 2-.8 3-1.8 3-1.3 0-1.7-2.4-1.2-7 .4-2.7 2.3-10 5.7-21.8 3.5-11.9 7-25.3 10.8-40.3 3.7-15 6-27.8 7-38.7.2-3.1.8-5.2 1.5-6.3 1-1.4 2.9-1.8 5.6-1.3 2.8.6 5.5 2 8.2 4.2l2.8 2.3L170.3 79l1.2 4a117.8 117.8 0 012.6 7.3 503.5 503.5 0 013.8 10l.7 1.4 2.3-11.4 5.2-24.4a302.5 302.5 0 0115.5-50.3c1.3-2.7 3.3-5.8 6-9.4 2.7-3.5 4.4-5 5-4.7h.6l.1-.5c.2-.5.6-.7 1.2-.8.3 0 .5 0 .6-.2l2.3 2.3-1-.8-1-.5-.6 1.3c-.7 1.6-.8 2.3-.5 2.2.2 0 .3 0 .3.2-.1 1.6-1 3.6-2.4 5.8-.5.7-.9.7-1.3 0-.3-.3-.5-.3-.5 0s0 .5.2.9c.3 1.1 0 1.8-1 1.9-1 0-1.1.2-.3.5.5.2.7.5.7.8a13 13 0 01-1.5 3 8 8 0 00-.9 1.5c-.2.6-.2 1-.1 1.5 0 .5 0 .8-.5.8-.2 0-.4.2-.6.6l-.5 1.5-.5 1.9a30.5 30.5 0 01-.8 2.5 27.5 27.5 0 00-2.6 9c.2 0 .4-.2.8-.7l2-4.7a55.3 55.3 0 015.3-11.7c.6-1.6 1.2-2.5 1.6-2.8.2-.2.3-.1.3.2.1.5 0 1.2-.6 2-.8 1.1-2.2 4.6-4.4 10.5-2.2 5.8-2.8 8.8-2 9 .5 0 .3.2-.6.7-.8.7-1 1.3-.5 1.8.5.4.3 1.4-.8 2.8-1.2 1.4-1.5 2.7-1 3.9.1.4.4.4.8.1.8-.5 1.3 0 1.5 1.5a5 5 0 01-.3 2.6c-.7 1.3-.9 2.2-.7 2.9l-3.9 16a1661 1661 0 01-4.8 20.3c0 1.4-.2 2.3-.5 2.6-.6.5-.7.8-.5 1.2a2151.7 2151.7 0 00-3 18.3c.2.4-.2 2-1 4.5-1 2.5-2.3 4-4.3 4.6-4.2 1-7 1.4-8.3 1-1.4-.3-2.5-1-3.2-2-.8-1-1.4-1.4-1.8-1.4-.5 0-2.9-5.4-7-16.3A500.9 500.9 0 01157 81l-6-18.7-2.2 8.4-3.6 14.5-4.3 18.7c-1.3 5.8-2.6 11.1-3.9 16a41.6 41.6 0 01-2.6 8c-.9 1-1.3 1.4-1.5 1 0-.3-.4 0-1 .9l-.6 1c-.8 1.7-1.5 2.4-2 2h-.6c0 .2-.2.3-.3.5l-.4.6a2 2 0 00-.2 1c-.5 1.6-.9 2.4-1.2 2.5-.3.1-.4-.4-.3-1.4l-.2-.5c-.2 0-.5.5-.8 1.1a28 28 0 01-1.8 3.3 9 9 0 00-1.3 3c0 .6-.2 1-.4 1.3zm64.8-69l-1 4.4-2 8.2c-.6 2.7-.8 4.1-.8 4.4l.3.8.3-.8c0-1.1.7-4.6 2.1-10.6l1.3-6.6-.2.1zm15.3-37.4c-.3 0-.7.6-1 1.7s-.4 2-.3 2.7l.3.5a10.3 10.3 0 001.3-4.2c0-.5 0-.7-.3-.7zM273 46.5c0-1 .7-1.4 2.2-1.2.9.1 1.2.4.8.8-.2.4 0 .5.4.5.2 0 .7-.1 1.4-.5 1.5-.5 2.5-.4 2.8.2.2.4.6.5 1.3.3.6-.2 1 0 1.3.5.4.6 1 .8 1.8.8.6 0 .5-.2-.4-.8-.8-.5-.6-.8.7-1a41 41 0 0113.1 2.2l1.8.8c.8.4 1.2.7 1.2.9l-1 .9c-1 .5-1.3 1-1 1.7.2.4.1.5-.3.5l-1.3-.3c-1.5-.3-2.5-.2-2.8.3 0 .2-.5.4-1.2.5l-2.4.2a45.3 45.3 0 01-5.3-.2h-1.3l.8 7.6-2.5.8a554 554 0 01-7.6 3 348.4 348.4 0 00-13 7.4c-7 4-11 6.6-12.1 7.8-.3.6-4.2 3.6-11.5 9.3a819 819 0 00-21.4 16.8c-6.8 5.7-10.3 9-10.3 10.1 0 .9 2 1.5 6 2 4 .4 8.5.5 13.4.3a563.7 563.7 0 0042.6-5c5.1-1.4 8-2.3 8.7-2.8a6 6 0 013.2-1c1.5-.1 2.3 0 2.3.6 0 .5-.7.7-2.2.7h-.6c-.6.1-.8.2-.7.3.8.4 1.1 1 1 1.7 0 .8-.4 1.2-1.3 1.2s-1.3.3-1.3.9c0 .3-1.3.4-4 .3-.8-.1-1.1 0-1 .1 0 .2.2.3.3.4.9.5.6 1-.8 1.6a22 22 0 01-6.7 1.1c-1.8.4-2.7.7-2.6 1.2.5.6.2.8-.8.6h-.5c-1-.3-2.7-.2-4.9.3-2.2.6-3.3 1.1-3.3 1.7 0 .4-.4.7-1.2.8l-5.8 1.4c-.3.1-.3.2 0 .4h.5c1.2 0 1.8.3 2 .6 0 .3-.3 1-1.2 1.8-1.8 1.8-9.1 3-22 3.7-6.5.3-11.8 0-15.9-1-4-1-7.4-3-10.1-5.6-2.5-2.5-4-4.6-4.7-6.2-.6-1.5-.8-3.6-.8-6.2s.3-4.4 1-5.5c.7-1 2.3-2.7 4.7-5a202 202 0 0119.3-15.3c1.8-1.4 2.7-2.2 2.7-2.6 0-.6.4-1 1.1-1 .7 0 1.9-.6 3.6-2a232 232 0 015-4c1.7-1.3 2.7-1.7 3.1-1.4.3.2.6 0 .7-.6.2-.6.5-.9 1-.9.6 0 1.5-.5 2.7-1.6 1.2-1 1.8-2 1.8-2.6 0-.7.4-1.1 1.1-1.1.6 0 1.8-.8 3.7-2.3 2-1.5 3.3-2.3 4.1-2.3.5 0 1 0 1.2-.3.3-.2.4-.5.4-.8 0-.5.3-.9 1.3-1l.8-.1c.7 0 1 0 1.2-.2 0 0 0-.3-.4-.5-.4-.5-4.7-.5-13 .1-8.2.6-15 1.4-20.2 2.4-2.8.4-4.8.6-6 .6s-2.2-.2-3.3-.6c-1.2-.7-2.4-2-3.6-3.9-1.3-1.8-1.7-3-1.2-3.4.3-.3.2-1.2-.4-3a5 5 0 010-2.2c0-.4.2-.6.4-.8l.7-.6 1-.5 1.4-.4a36.2 36.2 0 015.8-.9c.9-.2 1.7-.3 2.4-.6h1.5l-2.1 1.2-2.5 1.1 3.1-.3a341.1 341.1 0 0139.9-2.8c.8 0 1.1-.3 1-.6-.2-.3-.3-.5-.2-.6a13 13 0 002.6 1c.7.3 1.3.3 1.8.2.6 0 .8-.3.8-.6 0-.5.3-.5.7-.3l1.3 1c.4.2.6.1.6-.4 0-.2.2-.4.4-.6a2 2 0 011.1-.2h1.3l1.2.5c.4.2.6.4.7.6.6.7.9.6.9-.1zm19 5.6c.7-.2.5-.3-.5-.4-1 0-1.3 0-1.3.3.2.4.8.5 1.7.1z" />
            </svg>
            <p class="text-white text-sm pt-1">
              FINZはアングラーのタックルボックスなど、釣具や装備写真を共有するサービスです。<br>
              こだわりのケースの中身や収納・ランガンシステムなどなど、なんでも投稿してください！
            </p>
          </a>
        </div>
        <div class="py-8">
          <div>
            <ul class="text-white">
              <a href="<%= about_path %>" class="text-white">
                <li>FINZへようこそ</li>
              </a>
              <a href="<%= terms_of_service_path %>" class="text-white">
                <li>利用規約</li>
              </a>
              <a href="<%= privacy_policy_path %>" class="text-white">
                <li>プライバシーポリシー</li>
              </a>
              <a href="https://twitter.com/t4traw" class="text-white">
                <li>運営者(@t4traw)</li>
              </a>
              <a href="<%= thanks_path %>" class="text-white">
                <li>スペシャルサンクス</li>
              </a>
            </ul>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </footer>

  <% flash.each do |message_type, message| %>
  <script>
    window.toast('<%= message %>', '<%= message_type %>')
  </script>
  <% end %>
</body>

</html>